<h2>Add New Product</h2>

  
<div class="container">
    
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Add Product</button>
    </form>
  </div>
  